<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      body {
          background-color: #992944;
      }
      .center-text {
          position: absolute;
          top: 49%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: white;
          font-size: 36px;
          text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="center-text">
        <%= link_to suggestions_path do %>
          <%= image_tag("spark-home.png", alt: "Spark-logo", style:"width:100%") %>
        <% end %>
      </div>
    </div>
  </body>
  <script>
  </script>
</html>
