.categories-index {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  //  font-family: 'Open Sans', sans-serif;
  // font-family: 'Roboto', sans-serif;
//  background-color: #fff0f3;
}

.category-cards {
  border: none;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  background:#fff6f6;
  color: rgb(54, 20, 0);
}
