.suggestion-cards-info {

  background: white;
  color: black ;
  padding-left: 15px;
  padding-bottom: 15px;
}

.suggestion-cards {
  border-radius: 8px !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 1px;


}



//  .card {
//   border-radius: 10px;
//  }
