<div class="container" >
    <% @categories.each_slice(2) do |categorie_row| %>
      <div class="row">
        <% categorie_row.each do |category| %>
          <div class="card" style="width: 10rem; margin:10px; background:white;">
            <div class="card-body">
              <span>
                <i class="fa-solid fa-utensils"><%= category.icon %></i>
              </span>
              <h5 class="card-title"><%= category.title %></h5>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
</div>