<div class="container categories-index" style="margin-top: 90px">

  <div>
    <div
      class="container d-flex justify-content-between"
      style="padding-left: 40px; padding-right: 40px; "
    >
      <div ><button
          type="button"
          class="btn btn-outline-secondary"
          style="border-radius: 20px; width: 120px;"
        >Location</button></div>
      <div><button
          type="button"
          class="btn btn-outline-secondary"
          style="border-radius: 20px; width: 120px;"
        >Date/Time</button></div>
    </div>
    <hr>
    <p style="text-align: center; font-size: 19px; font-weight: bold;">Categories</p>
    <% colors = %w[
      darkred
      darkblue
      green
      brown
      orange
      turquoise
      hotpink
      voilet
      darkturquoise
    ] %>
    <div class="row justify-content-around" style="margin-left: 8px; margin-right: 8px; ">
      <% @categories.each_with_index do |category, index| %>
        <div class='card category-cards col-5 mb-3 text-center py-3'>
          <%= link_to category_path(category), class: 'text-decoration-none text-dark pt-2' do %>
              <i class="<%= category.icon %>" style="color:<%= colors[index] %>"></i>
              <h5 class="card-title" style="padding-top: 14px; font-size: 16px; "><%= category.title %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
