<div class="container categories-index" style="margin-top: 90px">

  <div>
    <div class="container d-flex justify-content-center">
      <div><button type="button" class="btn btn-outline-secondary" style="border-radius: 20px; width: 120px;">Location</button></div>

      <div><button type="button" class="btn btn-outline-secondary" style="border-radius: 20px; width: 120px">Date/Time</button></div>
    </div>
    <hr style="border: 2px solid #992944; width: 50% align: center">
    <p style="text-align: center; font-size: 19px; font-weight: bold;">Browse by category</p>
    <% @categories.each_slice(2) do |categorie_row| %>
      <div class="row">
        <% categorie_row.each do |category| %>
            <div class="card category-cards" style="width: 10rem; margin:10px;">
              <div class="card-body" style="text-align:center;">
              <div>
                <span style="color: grey;">
                  <i class="<%= category.icon %>"></i>
                </span>
                <br>
                </div>
                <h5 class="card-title" style="padding-top: 6px; font-size: 16px"><%= category.title %></h5>
              </div>
            </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
