<div class="container categories-index" style="margin-top: 60px">

  <div>
    <div class="border-bottom">
      <p style="text-align: center; font-size: 23px; font-weight: 700; margin-bottom: 10px; bold; margin-top: 15px;">
        Categories
      </p>
    </div>

    <% colors = %w[
      darkred
      darkblue
      purple
      green
      orange
      turquoise
      hotpink
      voilet
      darkturquoise
    ] %>

    <div class="row justify-content-around" style="margin-left: 8px; margin-right: 8px; margin-top: 20px">
      <% @categories.each_with_index do |category, index| %>
        <div class='card category-cards col-5 mb-3 text-center py-3'>
          <%= link_to category_path(category), class: 'text-decoration-none text-dark pt-2' do %>
              <i class="<%= category.icon %>" style="color:<%= colors[index] %>"></i>
              <h5 class="card-title" style="padding-top: 14px; font-size: 16px; "><%= category.title %></h5>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
