<div id="category-show-page-banner"class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
  Dining & Drinks
</div>
<div id="category-page-main">
  <div class="sub-heading-text-category">
    <p>CATEGORY</p>
  </div>
  <ul id="category-show-page-card">
    <li class="cards_item_category_show">
      <div class="card_category_show_page_full_card">
        <div class="card_image_show_category">
          <img src="https://picsum.photos/500/300/?image=10" style="height: auto; max-width: 100%; vertical-align: middle;">
        </div>
        <div class="card_content_category_show_page">
          <h2 class="card_title_category_show_page">Spark</h2>
          <p class="card_text_category_show_page">Date | Time</p>
          <p class="card_text_category_show_page">Location</p>
          <button id="category-button-show-page" class="card_btn">Explore / Read More</button>
        </div>
      </div>
    </li>
