  <div class="card text-white image-container" style="max-height: 190px; object-fit: cover">
    <%= image_tag("dashboard-3.jpg", class: "card-img", style: "margin-top:30px; min-height: 60px ") %>

   <p
    style="position: absolute; left: 50%; top: 100px; transform: translate(-50%); z-index: 1000; font-weight: 700; font-size: 24px; color: white; text-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px; text-align: center"
  ><%= @category.title %></p>
  </div>
</div>
<div
  class="container d-flex justify-content-between"
  style="padding-left: 10px; padding-right: 10px; margin-top: 15px;"
>
  <div><button
      type="button"
      class="btn btn-outline-secondary"
      id="amsterdam-btn"
      style="border-radius: 20px; width: 110px;"
    >Amsterdam</button></div>
  <div><button
      type="button"
      class="btn btn-outline-secondary"
      id="rotterdam-btn"
      style="border-radius: 20px; width: 110px;"
    >Rotterdam</button></div>
  <div><button
      type="button"
      class="btn btn-outline-secondary"
      id="the-hague-btn"
      style="border-radius: 20px; width: 110px;"
    >The Hague</button></div>
</div>
<hr>
<div id="category-page-main">
  <%= render 'suggestions/list' %>
</div>
<script>
  const categoryPage = document.querySelector('#category-page-main')

  const amsterdamButton = document.querySelector('#amsterdam-btn')
  amsterdamButton.addEventListener('click', (event) => {
    const referrerUrl = document.referrer.split('/')

    fetch(`${referrerUrl[4]}?filter=Amsterdam`, {headers: {"Accept": "text/plain"}})
    .then(response => response.text())
    .then((data) => {
      categoryPage.innerHTML = data
    })
  })

  const rotterdamButton = document.querySelector('#rotterdam-btn')
  rotterdamButton.addEventListener('click', (event) => {
    const referrerUrl = document.referrer.split('/')

    fetch(`${referrerUrl[4]}?filter=Rotterdam`, {headers: {"Accept": "text/plain"}})
    .then(response => response.text())
    .then((data) => {
      categoryPage.innerHTML = data
    })
  })

  const theHagueButton = document.querySelector('#the-hague-btn')
  theHagueButton.addEventListener('click', (event) => {
    console.log(categoryPage)
    const referrerUrl = document.referrer.split('/')

    fetch(`${referrerUrl[4]}?filter=TheHague`, {headers: {"Accept": "text/plain"}})
    .then(response => response.text())
    .then((data) => {
      categoryPage.innerHTML = data
    })
  })
</script>
