<div class="container" style="margin-top: 70px">
      <% @suggestions.each_slice(3) do |suggestion_row| %>
        <% suggestion_row.each do |suggestion| %>

          <div class="card mb-3 suggestion-cards" style='overflow: hidden'>

            <% if suggestion.image_url.present? %>
              <%= image_tag(suggestion.image_url, class: "card-img-top") %>
            <% else %>
              <%= image_tag("food-01.jpg", class: "card-img-top") %>
            <% end %>

            <div class="suggestion-cards-info">
              <h5 class="card-title" style="padding-top: 15px; font-weight: 700; letter-spacing: 1px;"><%= suggestion.title %></h5>
              <p class="card-text"><i class="fa-solid fa-location-dot"></i> &nbsp; Amsterdam &nbsp; <i class="fa-solid fa-star"></i> </p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>

        <% end %>
      <% end %>
</div>
